.img-fluid{width:100%;}

#mbtiImgBox1{
    width: 416px;
    height: 422px;
}
#mbtiImgBox2{
    width: 416px;
    height: 279px;
}
#mbtiImgBox3{
    width: 416px;
    height: 234px;
}
#mbtiImgBox4{
    width: 416px;
    height: 275px;
}
#mbtiImgBox5{
    width: 416px;
    height: 622px;
}
#mbtiImgBox6{
    width: 416px;
    height: 619px;
}
#mbtiImgBox7{
    width: 416px;
    height: 270px;
}
#mbtiImgBox8{
    width: 416px;
    height: 277px;
}