<html page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8">
<!DOCTYPE html>

<head>
 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CustomMovie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/favicon.png" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">





<!-- -------------------------------------------------------------------------------------------------------- -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>회원가입 화면</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../newM/img/favicon.png" rel="icon">
  <link href="../../newM/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../newM/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../../newM/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../newM/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../newM/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../newM/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../newM/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../newM/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/registerStyle.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v3.1.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script type="text/javascript" defer src="../../assets/js/testjs.js"></script>
  
  
  
</head>

<body>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../../assets/vendor/aos/aos.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../assets/vendor/php-email-form/validate.js"></script>
<script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="../../assets/js/main.js"></script>

  <!-- ======= Top Bar ======= -->



  <!-- ======= Header ======= -->




    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>회원가입</h2>
          <a href="/member/save"><p>Join Membership</p></a>
        </div>

        <form action="/member/save" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100" onsubmit = "joinform_check(this); return false;">
          <div class="col-6 row" style="float: left; width: 50%; height: 80%;">
            <div class="form-group mt-3">
            <div class="col-2 text-center" style="float:left; border-left: 1px solid #ffd584;"><p>아이디</p></div><input type="text" class="col-6" name="memberid" id="memberid" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">

              <div class="validate"></div>
            </div>
            <div class="form-group mt-3">
              <div class="col-2 text-center" style="float:left;">비밀번호</div> <input type="password" class="col-6" name="memberpassword" id="memberpassword" placeholder="Your Password" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group mt-3">
               <div class="col-2 text-center" style="float:left;">비밀번호 확인</div><input type="password" class="col-6" name="memberpasswordCheck" id="memberpasswordCheck" placeholder="Your Password" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group mt-3">
               <div class="col-2 text-center" style="float:left;">e-mail</div><input type="email" class="col-6" name="memberemail" id="memberemail" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group mt-3">
               <div class="col-2 text-center" style="float:left;">생년월일</div><input type="text" class="col-6" name="memberbirthday" id="memberbirthday" placeholder="Your Birthday" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group mt-3 mt-3 mt-md-0">
               <div class="col-2 text-center" style="float:left;">닉네임</div><input type="text" class="col-6" name="membernickname" id="membernickname" placeholder="Your NickName" data-rule="minlen:4" data-msg="Please enter at least 4 chars">

              <div class="validate"></div>
            </div>
          </div>
            
          <div class="row">
            <div class="form-group mt-3" style="border-left: 1px solid #ffd584;">
              <P><label for="MBTI">MBTI</label></P>
              <select class="col-6" id="membermbti" name = "membermbti">
                <option value="INTJ는 용의주도한 전략가이며, 의지가 강하고, 독립적인 성격입니다." class="analyst">INTJ</option>
                <option value="INTP는 논리적인 사색가이며, 지적 호기심이 높으며, 잠재력과 가능성을 중요시하는 성격입니다." class="analyst">INTP</option>
                <option value="ENTJ는 대담한 통솔자이며, 철저한 준비를 하며, 활동적인 성격입니다. " class="analyst">ENTJ</option>
                <option value="ENTP는 뜨거운 논쟁을 즐기는 변론가이며, 박학다식하고, 독창적인 성격입니다." class="analyst">ENTP</option>

                <option value="INFJ는 선의의 옹호자이며, 높은 통찰력으로 사람들에게 영감을 주는 성격입니다." class="diplomacy">INFJ</option>
                <option value="INFP는 열정적인 중재자이며, 성실하고 이해심 많으며, 개방적인 성격입니다." class="diplomacy">INFP</option>
                <option value="ENFJ는 정의로운 사회운동가이며, 사교적이고, 타인의 의견을 존중하는 성격입니다." class="diplomacy">ENFJ</option>
                <option value="ENFP는 재기발랄한 활동가이며, 평소 상상력이 풍부하고 창의적인 성격입니다." class="diplomacy">ENFP</option>

                <option value="ISTJ는 청렴결백한 논리주의자이며, 책임감이 강하며, 현실적인 성격입니다." class="manager">ISTJ</option>
                <option value="ISFJ는 용감한 수호자이며, 차분하고 헌신적이며, 인내심이 강한 성격입니다." class="manager">ISFJ</option>
                <option value="ESTJ는 엄격한 관리자이며, 체계적으로 일하고, 규칙을 준수하는 성격입니다." class="manager">ESTJ</option>
                <option value="ESFJ는 사교적인 외교관이며, 사람에 대한 관심이 많고, 친절한 성격입니다." class="manager">ESFJ</option>

                <option value="ISTP는 만능 재주꾼이며, 과묵하고 분석적이며, 적응력이 강한 성격입니다." class="explorer">ISTP</option>
                <option value="ISFP는 호기심 많은 예술가이며, 온화하고 겸손하다. 삶의 여유를 만끽하는 성격입니다." class="explorer">ISFP</option>
                <option value="ESTP는 모험을 즐기는 사업가이며, 느긋하고, 관용적이며, 타협을 잘하는 성격입니다." class="explorer">ESTP</option>
                <option value="ESFP는 자유로운 영혼의 연예인이며, 호기심이 많으며, 개방적인 성격입니다." class="explorer">ESFP</option>
              </select>
            </div>
          </div>
          <div class="mt-3">
          <div class="text-center"><p><button type="submit" style="margin: 20px;">가입 신청</button></p></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
        </form>

      </div>
    </section><!-- End Book A Table Section -->

  



</body>

</html>