<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>title(||쓰지 않은 경우)</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
<!--    타임리프 문법, 반복문-->
    <tr th:each="board: ${boardList}">      <!--th:each는 foreach같은 형태, board라는 변수이름으로 하나씩 접근하는 것-->
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>        <!--제목을 클릭하면 상세조회가능하도록-->
        <!--그런데 제목이 같다면 controller에 제대로 된 요청을 할 수 없으므로 id값을 넘겨주는 것이 일반적-->

        <td th:text="${board.boardWriter}"></td>
        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td> <!--날짜보여주는 형식 설정-->
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>
</body>
</html>